<div>
  <h3>Оформление заказа</h3>
  <div [ngSwitch]="checkIfCartHasProducts()">
    <div class="cart-content" *ngSwitchCase="true">
      <h4>Список товаров</h4>
      <div class="cart-item_header">
        <span></span>
        <span>Товар</span>
        <span>Дополнительные услуги</span>
        <span>Количество</span>
        <span>Доставка</span>
        <span>Стоимость</span>
      </div>
      <div class="cart-item">
        <div>
          <img src="" alt="">
          <button>удалить</button>
        </div>
        <div class="product-name">
          <a>Dummy text</a>
        </div>
        <div></div>
        <div>
          <div class="amount">
            <button (click)="decreaseAmount()">-</button>
            <input type="text" [value]="amount">
            <button (click)="increaseAmount()">+</button>
          </div>
        </div>
        <div>
          <span>Курьером: завтра</span>
          <span>Самовывоз: сегодня</span>
        </div>
        <div>
          <span>777</span><span>р.</span>
        </div>
      </div>
      <div class="total">
        <span>Общая стоимость:</span>
        <span>777 р.</span>
      </div>
      <div class="checkout"><button>Оформить заказ</button></div>
    </div>
    <p *ngSwitchDefault>Ваша корзина пуста</p>
  </div>
</div>
