@import "../../../../variables.scss";

:host {
  display: block;

  & > div {
    display: flex;
    flex-direction: column;
  }
}

.price {
  height: 46px;

  span:first-child {
    @include typography(20, 400, 22, #000);
    margin-right: 5px;
  }

  span:last-child {
    @include typography(14, 400, 16, #000);
  }
}

.rating {
  height: 27px;
  display: flex;

  span {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url("../../../../assets/icons/rate.svg");
    background-repeat: no-repeat;
  }
}

.credit,
.delivery {
  position: relative;
  padding-left: 25px;
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}

.credit {
  @include typography(11, 400, 15);

  span {
    font-size: 13px;
  }

  &::before {
    background-image: url("../../../../assets/icons/credit.svg");
  }
}

.delivery {
  @include typography(11, 400, 15);

  &::before {
    background-image: url("../../../../assets/icons/delivery.svg");
  }
}

.cart {
  border: none;
  outline: none;
  width: 152px;
  height: 31px;
  @include typography(12, 400, 14, #fff, "Tahoma");
  background-color: #ea1653;

  &:hover {
    background-color: #bc1242;
  }
}
