@import "../../../../variables.scss";

:host {
  display: flex;
  flex-direction: column;

  &.product {
    flex-grow: 1;
  }

  &.product {
    .price span:first-child {
      @include typography(30, 500, 36, #000);
    }

    .credit {
      @include typography(14, 400, 16);

      span {
        font-size: 17px;
      }

      &::before {
        transform: scale(1.2);
      }
    }

    .delivery {
      @include typography(12, 400, 15);

      span {
        @include typography(14, 700, 20);
        display: block;
        margin-bottom: 9px;
      }

      &::before {
        transform: scale(1.2);
      }
    }
  }
}

.price {
  height: 46px;

  span:first-child {
    @include typography(20, 400, 22, #000);
    margin-right: 5px;
  }

  span:last-child {
    @include typography(14, 400, 16, #000);
  }
}

.credit,
.delivery {
  position: relative;
  padding-left: 25px;
  margin-top: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }
}

.credit {
  @include typography(11, 400, 15);

  span {
    font-size: 13px;
  }

  &::before {
    background-image: url("../../../../assets/icons/credit.svg");
  }
}

.services {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: $border;
  border-bottom: $border;
  padding: 15px 0;
  position: relative;

  h3 {
    @include typography(14, 700, 20);
    padding-left: 24px;
    margin-bottom: 9px;
  }

  ul {
    padding-left: 40px;

    li {
      text-indent: -15px;
      @include typography(12, 400, 12);
    }

    li::before {
      content: "—";
      margin-right: 7px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 20px;
    height: 20px;
    background: {
      image: url("../../../../assets/icons/product-sprite.png");
      repeat: no-repeat;
      position: 0px -40px;
    }
  }
}

.delivery {
  @include typography(11, 400, 15);

  &::before {
    background-image: url("../../../../assets/icons/delivery.svg");
  }
}

.cart,
.absent {
  border: none;
  outline: none;
  width: 152px;
  height: 31px;
  @include typography(12, 400, 14, #fff, "Tahoma");
}

.warranty {
  @include typography(14, 700, 20);
  position: relative;
  padding-left: 24px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: $border;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    background: {
      image: url("../../../../assets/icons/product-sprite.png");
      repeat: no-repeat;
      position: 0px -160px;
    }
  }
}
