<div class="catalog">
  <div class="catalog-categories">
    <ul>
      <li>Бытовая техника</li>
      <li>Smart</li>
      <li>Mebel</li>
      <li>DOM</li>
    </ul>
  </div>
  <div class="catalog-items">
    <h3>Бытовая техника</h3>
    <div class="catalog-items_brands">
      <ul>
        <li>Tefal</li>
        <li>Bosch</li>
        <li>LG</li>
      </ul>
    </div>

    <div class="catalog-items_lists">
      <div class="catalog-items_list">
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
      </div>
      <div class="catalog-items_list">
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
        <div class="catalog-items_list_item">
          <h4>Osvesheneie</h4>
          <ul>
            <li>lust</li>
            <li>torsh</li>
          </ul>
        </div>
      </div>
      <div class="compilations">
        <span>Подбрки</span>
        <ul>
          <li>Игровые ноутбуки</li>
          <li>Ультрабуки</li>
          <li>Кабели</li>
          <li>Мониторы</li>
        </ul>
      </div>
    </div>
  </div>
</div>
