<ng-container *ngIf="isLoaded | async">
  <div>
    <img src="{{ product.imageUrls[0] }}">
    <button>удалить</button>
  </div>
  <div class="product-name">
    <a>{{ product.name }}</a>
  </div>
  <div></div>
  <div>
    <div class="amount">
      <button (click)="decreaseAmount()">-</button>
      <input type="number" [(ngModel)]="amount">
      <button (click)="increaseAmount()">+</button>
    </div>
  </div>
  <div>
    <span>Курьером: завтра</span>
    <span>Самовывоз: сегодня</span>
  </div>
  <div>
    <span>{{ calculateSum() }}</span><span>р.</span>
  </div>
</ng-container>
