<ul class="contacts">
  <li><span [inlineSVG]="'./assets/icons/a1.svg'"></span>+375 29 302 10 21</li>
  <li><span [inlineSVG]="'./assets/icons/life.svg'"></span>+375 25 502 10 21</li>
  <li><span [inlineSVG]="'./assets/icons/home.svg'"></span>+375 17 302 10 21</li>
  <li class="viber">
    <span [inlineSVG]="'./assets/icons/viber.svg'"></span>
    <a href="https://viber.com">Viber</a>
  </li>
  <li class="telegram">
    <span [inlineSVG]="'./assets/icons/telegram.svg'"></span>
    <a href="https://telegram.com">Telegram</a>
  </li>
  <li class="mailto">
    <span [inlineSVG]="'./assets/icons/mailto.svg'"></span>
    <a href="mailto:21@21vek.by" target="_blank">Почта</a>
  </li>
  <li class="chat">
    <span [inlineSVG]="'./assets/icons/chat.svg'"></span>
    <a href="">Написать нам</a>
  </li>
</ul>
<ul class="social">
  <li class="icon_vk" [inlineSVG]="'./assets/icons/big-vk.svg'" [replaceContents]="false">
    <a href="https://vk.com" target="_blank"></a>
  </li>
  <li class="icon_facebook" [inlineSVG]="'./assets/icons/big-facebook.svg'" [replaceContents]="false">
    <a href="https://facebook.com" target="_blank"></a>
  </li>
  <li class="icon_instagram" [inlineSVG]="'./assets/icons/big-instagram.svg'" [replaceContents]="false">
    <a href="https://instagram.com" target="_blank"></a>
  </li>
  <li class="icon_youtube" [inlineSVG]="'./assets/icons/big-youtube.svg'" [replaceContents]="false">
    <a href="https://youtube.com" target="_blank"></a>
  </li>
  <li class="icon_ok" [inlineSVG]="'./assets/icons/big-ok.svg'" [replaceContents]="false">
    <a href="https://ok.ru" target="_blank"></a>
  </li>
</ul>
