$grey: #f7f8fa;
$white: #fff;
$text-black: #1a1a1a;
$text-grey: #909399;
$hover-text: #d62761;
$hover-background: #fcedf2;
// $light-grey: #efefef;
// $dark-grey: #4f4f4f;
// $blue: #2f80ed;
// $green: #27ae60;
// $red: #e85757;
// $yellow: #f2c94c;
// $light-black: #333;
// $mild-grey: #f2f2f2;

@mixin typography($size: 16, $weight: 400, $line: 32, $color: $text-black, $family: "Arial", $spacing: 0px) {
  font: {
    size: $size / 16 * 1rem;
    weight: $weight;
    family: $family, sans-serif;
  }

  line-height: $line / 16 * 1rem;
  letter-spacing: $spacing;
  color: $color;
}

@mixin flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mainHost {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;

  & > div {
    width: 80%;
    margin: 0 auto;
  }
}
