<form (submit)="submitOrder(inputName, mobNumber)">

  <fieldset class="personal-data">
    <legend>Личные данные</legend>
    <div class="reverse">
      <input type="text" name="personalName" id="personalName" [(ngModel)]="name" minlength="3" maxlength="50"
        #inputName="ngModel" required>
      <label for="personalName">Имя Фамилия:</label>
      <div *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)" class="alert">
        <span *ngIf="inputName.errors?.required">Это поле обязательно к заполнению</span>
        <span *ngIf="inputName.errors?.minlength">Поле не должно содержать меньше 3 символов</span>
        <span *ngIf="inputName.errors?.maxlength">Поле не должно содержать больше 50 символов</span>
      </div>
    </div>
    <div class="reverse">
      <input type="text" name="email" id="email" [value]="email">
      <label for="email">E-mail:</label>
    </div>
  </fieldset>

  <fieldset class="delivery">
    <legend>Доставка</legend>

    <div class="reverse">
      <input type="select" name="city" id="city" [(ngModel)]="city">
      <label for="city">Город/населенный пункт:</label>
    </div>

    <div class="delivery_options">
      <div>
        <input type="radio" name="deliveryOption" id="deliveryCourier" [checked]="isCourier"
          (change)="changeDeliveryOption(true)">
        <label for="deliveryCourier">курьером до клинета — 6,00 р.</label>
      </div>
      <div>
        <input type="radio" name="deliveryOption" id="deliverySelf" [checked]="!isCourier"
          (change)="changeDeliveryOption(false)">
        <label for="deliverySelf">самовывоз в Минск — бесплатно</label>
      </div>
    </div>

    <div class="address" *ngIf="isCourier">
      <div class="reverse">
        <input type="text" name="address" id="address" placeholder="улица, дом" #addressStreet="ngModel"
          [(ngModel)]="address.street" required>
        <label for="address">Адрес доставки:</label>
        <div *ngIf="addressStreet.invalid && (addressStreet.dirty || addressStreet.touched)" class="alert">
          <span *ngIf="addressStreet.errors?.required">Это поле обязательно к заполнению</span>
        </div>
      </div>
      <div>
        <input type="text" name="entrance" placeholder="подъезд" [(ngModel)]="address.entrance">
        <input type="text" name="floor" placeholder="этаж" [(ngModel)]="address.floor">
        <input type="text" name="apartment" placeholder="квартира" [(ngModel)]="address.apartment"
          #addressApartment="ngModel" required>
        <div *ngIf="addressApartment.invalid && (addressApartment.dirty || addressApartment.touched)" class="alert">
          <span *ngIf="addressApartment.errors?.required">Это поле обязательно к заполнению</span>
        </div>
      </div>
    </div>

    <div class="time" *ngIf="isCourier">
      <p>Время доставки</p>
      <select name="" id="" (change)="setDeliveryDate($event)">
        <option value="">Выберите дату</option>
        <option *ngFor="let day of deliveryDates; let i = index" [value]="i + 1">{{ day }}</option>
      </select>
      <div *ngIf="!isDeliveryDateTimeSelected.date" class="alert date">
        <span>Выберите дату</span>
      </div>
      <select name="" id="" (change)="setDeliveryTime($event)" [disabled]="!isDateSelected">
        <option>Выберите время</option>
        <option *ngFor="let time of deliveryTime; let i = index" [value]="i + 1">{{ time }}</option>
      </select>
      <div *ngIf="!isDeliveryDateTimeSelected.time" class="alert alert_time">
        <span>Выберите время</span>
      </div>
    </div>

    <div class="phone reverse">
      <input type="tel" name="mobileNumber" [pattern]="mobNumberPattern" #mobNumber="ngModel" [ngModel]="mobileNumber"
        id="tel" placeholder="+375 29 111 11 11" required>
      <label for="mobileNumber">Телефон</label>
      <div *ngIf="mobNumber.invalid && (mobNumber.dirty || mobNumber.touched)" class="alert">
        <span *ngIf="mobNumber.errors?.required">Это поле обязательно к заполнению</span>
        <span *ngIf="mobNumber.errors?.pattern">Mobile number not valid.</span>
      </div>
    </div>

    <div class="comments"><label for="comments">Комментарии:</label>
      <textarea name="" id="comments" cols="30" rows="10"
        placeholder="Введите номер и серию сертификата, если таковой имеется."></textarea>
    </div>
  </fieldset>

  <fieldset class="payment">
    <legend>Оплата при получении</legend>
    <div>
      <input type="radio" name="payment" id="cash" (change)="changePaymentMethod(true)" checked>
      <label for="cash">наличными</label>
    </div>
    <div>
      <input type="radio" name="payment" id="card" (change)="changePaymentMethod(false)">
      <label for="card">картой</label>
    </div>
  </fieldset>

  <div class="total">
    <span>Поля, обязательные для заполнения</span>
    <div>
      <span>Стоимость заказа с доставкой: <span> {{ total | number: "1.2-2"}} </span> р.</span>
    </div>
    <button class="submit" type="submit">Подтвердить заказ</button>
  </div>
</form>
