@import "../../../../variables.scss";

:host {
  width: 100%;
  display: block;
  background: linear-gradient(90deg, #941e94, #e52e6b);
  height: 42px;

  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    padding: 0 2.2%;
    margin: 0 auto;

    li {
      height: 100%;
      position: relative;
      padding: 0 10px;

      &:hover {
        background: #1a1a1a33;
      }

      &:first-child {
        &::after {
          content: "";
          position: absolute;
          height: 13px;
          right: 0;
          top: 13px;
          border: 1px solid transparent;
          border-right-color: #ffffff4d;
        }

        a {
          padding-left: 19px;
        }

        a::before {
          content: "";
          position: absolute;
          width: 13px;
          height: 12px;
          top: 15px;
          left: 0;
          background-image: url("../../../../assets/icons/catalog.svg");
          background-repeat: no-repeat;
        }
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        @include typography(14, 400, 20, #fff);
        text-decoration: none;
      }
    }
  }
}
